*.pyc
.DS_Store
dist/
sonoUno/sonoUno.egg-info/
sonoUno/.spyproject/
sonoUno/sonouno_xcode/
sonoUno/.pylint.d/
sonoUno/*.png
sonoUno/spyder-env/
sonoUno/*.wav
sonoUno/sonification_reduced.txt
sonoUno/lhc_output/
sonoUno/data_lhc/sonification_reduced.txt
sonoUno/data_lhc/lhc_output/
sonoUno/*.csv
